[submodule "themes/anubis"]
	path = themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
[submodule "themes/anubis2"]
	path = themes/anubis2
	url = https://github.com/hugo-theme-anubis2/hugo-theme-anubis2.git
