---
layout: default
title: Accueil
---

{%  for post in paginator.posts %}
  <div style="margin-bottom: 50px;">
  <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
  <div style="margin: 15px 0px;">
    <span class="label label-default">{{  post.date | date: "%d/%m/%Y" }}</span>
    <div class="pull-right" >
    {% for category in post.categories %}
      <span class="label label-info">{{category}}</span>
    {% endfor %}
  </div>
</div>
  <div class="content">
    {{  post.content }}
  </div>
   <div style="margin-top: 15px;">
    
    <a class="badge" href="{{ site.url }}{{ post.url }}#disqus_thread">Pas de commentaires</a>
    
   </div>
 </div>
{%  endfor %}


<ul class="pagination pagination-lg">
{% if paginator.previous_page %}
    <li><a href="/page{{paginator.previous_page}}">&laquo;</a></li>
{%  endif %}
{%  if paginator.next_page %}
  <li><a href="/page{{paginator.next_page}}" >&raquo;</a></li>
{%  endif %}

{% for page in (1..paginator.total_pages) %}
{% if page == paginator.page %}
<li class="active"><span>{{paginator.page}} <span class="sr-only">(current)</span></li>
{% elsif page == 1 %}
    <li><a href="/">{{page}}</a></li>
 {% else %}
    <li><a href="/page{{page}}">{{page}}</a></li>
  {%  endif %}
{% endfor %}
</ul>




