---
layout: default
title: Accueil
---

#1
{% for post in site.categories[Programmation] %}
     ---
    <li>{{ post.title }}</li>
{% endfor %}
#2
{% for post in site.categories['Programmation'] %}
---
    <li>{{ post.title }}</li>
{% endfor %}

#3
{% for post in site.categories.Programmation %}
---
    <li>{{ post.title }}</li>
{% endfor %}


#2
{% for post in site.categories["Programmation"] %}
---
    <li>{{ post.title }}</li>
{% endfor %}

{%  for post in paginator.posts %}
  <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
  <p class="author">
    <span class="author">{{  post.author.name }}</span>
    <span class="date">{{  post.date | date_to_long_string }}</span>
  </p>
  <div class="content">
    {{  post.content }}
  </div>
{%  endfor %}


<div class="pagination">
{% if paginator.previous_page %}
    <a href="/@" class="previous">Page précédente</a>
{%  else %}
    <span class="previous">Page précédente</span>
{%  endif %}
  <span class="page_number ">Page:  sur </span>
{%  if paginator.next_page %}
    <a href="/#" class="next">Page suivante</a>
{%  else %}
    <span class="next">Page suivante</span>
{%  endif %}
</div>
