<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{page.title}} - {{site.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="container">
      <div class="page-header">
        <h1><a href="/">{{site.title}}</a></h1>
        <p class="lead">{{site.description}}</p>
        <a href="/feed.xml" class="pull-right"><img alt="rss" src="/assets/img/rss.png" /></a>
        <div class="social-badges">
          <ul>
          <li><a href="https://twitter.com/youen_chene" ><img src="/assets/img/twitter.png" height=20  alt="twitter"/>@youen_chene</a></li>
          <li><a href="https://github.com/youenchene" ><img src="/assets/img/github.png" height=20  alt="github"/>youenchene</a></li>
          <li><a href="http://fr.linkedin.com/in/youenchene" ><img src="/assets/img/linkedin.png" height=20  alt="linkedin"/>Profile LinkedIn</a></li>
          <li><a href="http://fr.viadeo.com/fr/profile/youen.chene" ><img src="/assets/img/viadeo.png" height=20  alt="viadeo"/>Profile Viadeo</a></li>
        </ul>

        </div>
      </div>
