<!-- badge pour les thèmes claires - à copier/coller dans le pied de page de votre site (sans ce commentaire) -->
<div>
    <a href="https://www.lewebvert.fr/label/{{ .LabelId }}/" target="_blank"><img src="https://www.lewebvert.fr/label/{{ .LabelId }}/{{ .LabelId }}-light.svg" alt="Score: {{ .ScoreDPE }} - Audit Diagnostic Performance Energétique web réalisé par Webvert" width="87"  height="75"/></a>
</div>

<!-- badge pour les thèmes sombres - à copier/coller dans le pied de page de votre site  (sans ce commentaire) -->
<div>
    <a href="https://www.lewebvert.fr/label/{{ .LabelId }}/" target="_blank"><img src="https://www.lewebvert.fr/label/{{ .LabelId }}/{{ .LabelId }}-dark.svg" alt="Score: {{ .ScoreDPE }} - Audit Diagnostic Performance Energétique web réalisé par Webvert"  width="87"  height="75"/></a>
</div>