<!--for overriding-->
<extra>
<p>Je suis Youen Chéné, fondateur de <a href="https://www.lewebvert.fr/" target="_blank">Webvert</a>, contributeur à <a href="https://boavizta.org/" target="_blank">Boavizta</a>, advisor au <a href="https://www.bearstudio.fr/" target="_blank">Bear Studio</a>, 10ans+ bénévole à <a href="https://www.codeursenseine.com" target="_blank">Codeurs en Seine</a>.</p>
<p><em>{{ .Site.Params.Intro2 }}</em></p>
<p>Retrouvez ce blog sur <a href="gemini://g.youenchene.fr/">Gemini</a></p>
</extra>